<!DOCTYPE html>
<html>
<head>
    <title>Jersey with Mustache Demo</title>
</head>
<body>

    <div id="container">
        <h1>My name is: {{#user}}{{name}}{{/user}}</h1>

        <p><a href="/user/edit">edit</a></p>
    </div>


</body>
</html>