<!DOCTYPE html>
<html>
<head>
    <title>Client side jQuery Demo</title>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="js/mustache.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            var template;
            $.get('mustache/jquery-template.html', function(file) {
                template = file;
            });

            var partials = {};
            $.get('mustache/cities-template.html', function(file) {
                partials = {cities: file};
            });

            var data = {};

            $.getJSON('data/data.json', function(d) {
                data = d;
            });

            $(document).ajaxStop(function() {
                html = Mustache.to_html(template, data, partials);
                $('#content').html(html);
            });
        });

    </script>
</head>
<body>
</body>
</html>