<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form role="form" name="changePasswordForm" novalidate>
                <h3>Reset password</h3>

                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="New password" ng-model="password" required focus-on>
                    <p class="text-danger form-control-static" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required">Password is required</p>
                </div>
                <div class="form-group">
                    <input type="password" name="repeatPassword" class="form-control" placeholder="Repeat password" ng-model="repeatPassword" bs-match="password" required>
                    <p class="text-danger form-control-static" ng-show="changePasswordForm.repeatPassword.$dirty && changePasswordForm.repeatPassword.$error.required">Repeat password</p>
                    <p id="repeatNotMatching" class="text-danger form-control-static" ng-show="changePasswordForm.repeatPassword.$dirty && !changePasswordForm.repeatPassword.$error.required && changePasswordForm.repeatPassword.$error.match">Passwords don't match!</p>
                </div>
                <button class="btn btn-primary btn-block" type="submit" ng-click="resetPassword()">Reset password</button>
            </form>
        </div>
    </div>
</div>