@import "styles/skeleton.scss";
@import "App.scss";
@import "Login/Login.scss";
@import "Footer/Footer.scss";
@import "ForkMe/ForkMe.scss";
@import "NavBar/NavBar.scss";
@import "NotFound/NotFound.scss";
//@import "PasswordDetails/PasswordDetails.scss";
//@import "PasswordReset/PasswordReset.scss";
//@import "ProfileDetails/ProfileDetails.scss";
//@import "Register/Register.scss";
//@import "RecoverLostPassword/RecoverLostPassword.scss";
@import "Spinner/Spinner.scss";
@import "Welcome/Welcome.scss";

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

.validation-message {
  color: crimson;
  margin-bottom: 1em;
}

input[type="submit"],
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
}

input[type="submit"]:disabled,
input[type="submit"]:disabled:hover {
  background-color: gainsboro;
  border-color: gainsboro;
  cursor: not-allowed;
}
