<div class="row">
    <div class="span6 offset3">
        <div class="row">
            <form class="form-horizontal" name="changePasswordForm" novalidate>
                <div class="control-group">
                    <label class="control-label" for="password">New password</label>
                    <div class="controls">
                        <input type="password" name="password" id="password" placeholder="Password" ng-model="password" required>
                        <span class="text-error" ng-show="changePasswordForm.password.$dirty && changePasswordForm.password.$error.required">Password is required</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="repeatPassword">Repeat password</label>
                    <div class="controls">
                        <input type="password" name="repeatPassword" id="repeatPassword" placeholder="Password" ng-model="repeatPassword" bs-repeat-password="password" required>
                        <span class="text-error" ng-show="changePasswordForm.repeatPassword.$dirty && changePasswordForm.repeatPassword.$error.required">Repeat password</span>
                        <span class="text-error" ng-show="changePasswordForm.repeatPassword.$dirty && !changePasswordForm.repeatPassword.$error.required && changePasswordForm.repeatPassword.$error.repeat">Passwords don't match!</span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" ng-click="resetPassword()">Reset password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>