<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form role="form" name="registerForm" novalidate>
                <h3>Please sign up</h3>

                <div class="form-group">
                    <input type="text" name="login" class="form-control" placeholder="Login" ng-model="user.login" ng-minlength="3" required focus-on>
                    <p class="text-danger form-control-static" ng-show="registerForm.login.$dirty && registerForm.login.$error.required">Login is required</p>
                    <p class="text-danger form-control-static" ng-show="registerForm.login.$error.minlength">At least three characters!</p>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email address" ng-model="user.email" required>
                    <p class="text-danger form-control-static" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">E-mail is required</p>
                    <p class="text-danger form-control-static" ng-show="registerForm.email.$error.email">It's not a valid email!</p>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required>
                    <p class="text-danger form-control-static" ng-show="registerForm.password.$dirty && registerForm.password.$error.required">Password is required</p>
                </div>
                <div class="form-group">
                    <input type="password" name="repeatPassword" class="form-control" placeholder="Repeat password" ng-model="user.repeatPassword" bs-match="user.password" required>
                    <p class="text-danger form-control-static" ng-show="registerForm.repeatPassword.$dirty && registerForm.repeatPassword.$error.required">Repeat password</p>
                    <p id="regPassDontMatch" class="text-danger form-control-static" ng-show="registerForm.repeatPassword.$dirty && !registerForm.repeatPassword.$error.required && registerForm.repeatPassword.$error.match">Passwords don't match!</p>
                </div>
                <div class="form-group">
                    <span class="help-block"><a ui-sref="recover-lost-password">Forgotten password?</a></span>
                </div>
                <button class="btn btn-primary btn-block" type="submit" ng-click="register()">Register</button>
            </form>
        </div>
    </div>
</div>