<div class="alert alert-success hidden" id="success-info">
    Hidden Info
</div>
<div class="alert alert-error hidden" id="error-info">
    Hidden Error
</div>
<div class="row" ng-controller="LogsCtrl">
    <div class="span2 pull-left">
        <pre>Number of <br/>entries: {{size.value}}</pre>
    </div>
    <div class="span6 offset1">
        <form name="myForm">
            <div class="row">
                <textarea name="message" rows="5" style="width: 95%" ng-model="entryText" required
                          ng-minlength="5" ng-maxlength="140" placeholder="Type your message here">
                </textarea>
                <span class="text-error" ng-show="myForm.message.$error.maxlength">Message is too long!</span>
                <span class="text-error" ng-show="myForm.message.$error.minlength">Message is too short</span>
                <span class="text-error" ng-show="myForm.message.$dirty && myForm.message.$error.required">Message is required</span>
                <div>
                    <input type="submit" ng-click="addEntry()" ng-disabled="myForm.$invalid" class="btn btn-primary" value="Send message"/>
                </div><br/>
            </div>
        </form>
        <div class="row">
            <div ng-repeat="entry in logs">
                         <pre>
                            <span class="pull-left">{{entry.text}}</span>
                            <i><small class="pull-left">Sent by {{entry.author}} at {{entry.date}}</small></i>
                            <i><small class="pull-left"><a ng-click="deleteEntry(entry.id)">Delete this entry</a></small></i>&nbsp&nbsp
                            <i><small class="pull-left"><a href="#/entry/{{entry.id}}">Edit</a></small></i>
                         </pre>
            </div>
            <div ng-show="noEntries()">There are no entries. Be the first author!</div>
        </div>
    </div>
    <div class="span3 pull-right" ng-controller="UptimeCtrl">
        <pre>Server uptime <br/>in seconds: {{uptime.value}}</pre>
    </div>
</div>