.Login {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 1em;
}

.Login form a,
.Login form label {
  align-self: flex-start;
}

.Login form label {
  margin-top: 1em;
  font-weight: 400;
}
