<form class="form-bootzooka" role="form" name="profileForm" onsubmit="return false;" novalidate>
    <h2 class="form-bootzooka-heading">Profile</h2>
    <input type="text" name="login" class="form-control" placeholder="Login" ng-model="login" bs-blur="changeLogin()" ng-minlength="3" required autofocus>
    <span class="text-error" ng-show="profileForm.login.$error.required">Login is required</span>
    <span class="text-error" ng-show="profileForm.login.$error.minlength">At least three characters!</span>

    <input type="email" name="email" class="form-control" placeholder="E-mail address" ng-model="email" bs-blur="changeEmail()" required>
    <span class="text-error" ng-show="registerForm.email.$dirty && registerForm.email.$error.required">E-mail is required</span>
    <span class="text-error" ng-show="registerForm.email.$error.email">It's not a valid email!</span>
</form>

<form class="form-bootzooka" role="form" name="passwordChangeForm" ng-submit="changePassword()" novalidate>
    <input type="password" name="currentPassword" class="form-control" placeholder="Current password" ng-model="currentPassword" required>
    <span class="text-error" ng-show="passwordChangeForm.currentPassword.$dirty && passwordChangeForm.currentPassword.$error.required">Current password is required</span>

    <input type="password" name="newPassword" class="form-control" placeholder="New password" ng-model="newPassword" required>
    <span class="text-error" ng-show="passwordChangeForm.newPassword.$dirty && passwordChangeForm.newPassword.$error.required">New password is required</span>

    <input type="password" name="newPasswordRepeated" class="form-control" placeholder="Repeat new password" ng-model="newPasswordRepeated" bs-match="newPassword" required>
    <span class="text-error" ng-show="passwordChangeForm.newPasswordRepeated.$dirty && passwordChangeForm.newPasswordRepeated.$error.required">Repeat password</span>
    <span class="text-error" ng-show="passwordChangeForm.newPasswordRepeated.$dirty && !passwordChangeForm.newPasswordRepeated.$error.required && passwordChangeForm.newPasswordRepeated.$error.match">Passwords don't match</span>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Change password</button>
</form>