<!DOCTYPE html>
<html>

{{=[{ }]=}}

<head>
    <title>MyLog in Scalatra</title>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript">

        function submitForm() {
            $.post('rest', $('#myLog').serialize());
            $('#author').val('');
            $('#text').val('');
            location.reload();
            return false;
        }

        function deleteLog(id) {
            $.ajax({
                url:'rest/' + id,
                type:'DELETE',
                success:function (result) {
                    location.reload();
                }
            });
            return false;
        }

    </script>
</head>
<body>
<h1>MyLog</h1>

<form id="myLog" onsubmit="return submitForm()" method="post">
    <fieldset>
        <label for="author">Author</label>
        <input id="author" type="text" name="author" placeholder="Enter author..."/>
        <label for="text">Text</label>
        <textarea id="text" name="text"></textarea><br/>
        <button type="submit" class="btn">Submit</button>
    </fieldset>
</form>

<table class="table table-hover">
    <tr>
        <td>Author</td>
        <td>Text</td>
        <td>Action</td>
    </tr>
    [{#logs}]
    <tr>
        [{#.}]
        <td>[{author}]</td>
        <td>[{text}]</td>
        <td><a href="#" onclick="return deleteLog([{id}])">delete</a></td>
        [{/.}]
    </tr>
    [{/logs}]
</table>

</body>
</html>