.Footer {
  background-color: gainsboro;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 10%;
}

.Footer p {
  margin: 0;
}

.Footer p:nth-of-type(2) {
  font-size: .8em;
}

@media (max-width: 768px) {
  .Footer {
    padding: 0;
  }
}
