name: Bootzooka Helm Chart CI

on:
  push:
    paths:
      - "helm/**"
      - ".github/**"
    branches:
      - master
  pull_request:
    paths:
      - "helm/**"
      - ".github/**"

permissions:
  contents: write        # release-drafter, auto-merge requirement
  pull-requests: write   # labeler, auto-merge requirement

jobs:
  lint-chart:
    name: Lint Helm Chart
    runs-on: ubuntu-24.04
    steps:
      - name: Check-out repository
        id: repo-checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4, specifically v4.3.1
        with:
          version: v3.17.1

      - uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.x"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2, specifically v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .github/helm-ct.yml --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (lint)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct lint --config .github/helm-ct.yml --target-branch ${{ github.event.repository.default_branch }}

  install-test-chart:
    needs:
      - lint-chart
    name: Install & Test Helm Chart
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        k8s:
          - v1.33.2
          - v1.32.5
          - v1.31.9
    steps:
      - name: Check-out repository
        id: repo-checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Create kind ${{ matrix.k8s }} cluster
        id: kind-cluster-setup
        uses: helm/kind-action@a1b0e391336a6ee6713a0583f8c6240d70863de3 # v1, specifically v1.12.0
        with:
          node_image: kindest/node:${{ matrix.k8s }}
          wait: "120s"

      - name: Set up Helm
        uses: azure/setup-helm@1a275c3b69536ee54be43f2070a358922e12c8d4 # v4, specifically v4.3.1
        with:
          version: v3.17.1

      - uses: actions/setup-python@v5.3.0
        with:
          python-version: "3.x"
          check-latest: true

      - name: Set up chart-testing
        uses: helm/chart-testing-action@0d28d3144d3a25ea2cc349d6e59901c4ff469b3b # v2, specifically v2.7.0

      - name: Run chart-testing (list-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed --config .github/helm-ct.yml --target-branch ${{ github.event.repository.default_branch }})
          if [[ -n "$changed" ]]; then
            echo "changed=true" >> "$GITHUB_OUTPUT"
          fi

      - name: Run chart-testing (install)
        if: steps.list-changed.outputs.changed == 'true'
        run: ct install --config .github/helm-ct.yml --target-branch ${{ github.event.repository.default_branch }}

  validate-chart-docs:
    needs:
      - lint-chart
      - install-test-chart
    name: Validate Helm Chart Docs
    runs-on: ubuntu-24.04
    steps:
      - name: Check-out repository
        id: repo-checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Run helm-docs
        id: helm-docs-run
        uses: softwaremill/helm-docs-action@874f27f2798f274bad83f9fa8205bfa5715de39e

      - name: Validate there's no diff
        id: git-no-diff
        run: git diff --exit-code

  publish-chart:
    # run only on push to master
    if: github.event_name == 'push'
    needs:
      - lint-chart
      - install-test-chart
      - validate-chart-docs
    name: Publish Helm Chart
    runs-on: ubuntu-24.04
    steps:
      - name: Check-out repository
        id: repo-checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
