name: Bootzooka CI

on:
  pull_request:
  push:
    tags: [v*]
    branches:
      - master
    paths-ignore:
      - "helm/**"
  release:
    types:
      - released
    paths-ignore:
      - "helm/**"

jobs:
  verify:
    runs-on: ubuntu-18.04

    steps:
      - name: Check-out repository
        id: repo-checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        id: jdk-setup
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache SBT
        id: cache-sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}

      - name: Run tests
        id: run-tests
        run: sbt test

  deploy:
    if: github.event_name != 'pull_request' && startsWith(github.ref, 'refs/tags/v')
    needs: [ verify ]
    runs-on: ubuntu-latest

    steps:
      - name: Check-out repository
        id: repo-checkout
        uses: actions/checkout@v2

      - name: Set up JDK 11
        id: jdk-setup
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Cache SBT
        id: cache-sbt
        uses: actions/cache@v2
        with:
          path: |
            ~/.sbt
            ~/.ivy2/cache
            ~/.coursier
          key: ${{ runner.os }}-sbt-${{ hashFiles('**/build.sbt') }}

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract version
        run: |
          version=${GITHUB_REF/refs\/tags\/v/}
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Publish release notes
        uses: release-drafter/release-drafter@v5
        with:
          config-name: release-drafter.yaml
          publish: true
          name: "v${{ env.VERSION }}"
          tag: "v${{ env.VERSION }}"
          version: "v${{ env.VERSION }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Publish docker image
        run: sbt backend/docker:publish
